apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: nginx:alpine
          command: ["/bin/sh"]
          args:
            - "-c"
            - |
              echo '<h2>This is Backend</h2>' > /usr/share/nginx/html/index.html;
              nginx -g 'daemon off;'
          ports:
            - containerPort: 80
